<div class="modal-wrapper container p-0">
  <% if action_name == 'edit' %>
    <div id="mapid3" class="row" style="width:100%; height:200px; margin:0;"></div>
    <p class="note text-center">※地図をドラッグしてマーカー位置を調整できます</p>
  <% end %>
  <div class="row row-cols-1 p-4">
    <div class="col">
      <%= form_with( model: event, url:choose_new_or_edit,remote: true ) do |f| %>

      <div class="container p-4 mt-1">
        <div id="event-messages" class="row"></div>
        <div class="row p-0 m-0">
          <div class="col-8 p-0 mx-0 mb-1">
            <div class="container p-0 m-0">
              <div class="row mb-1">
                <div class="col-3 text-right px-0">
                  <%= f.label :title, t('view.event.title') %><span class="must_need">*<span>
                </div>
                <div class="col-9 pr-0">
                  <%= f.text_field :title ,placeholder:t('view.event.title') ,required:"required" %>
                </div>
              </div>
              <div class="row mb-1">
                <div class="col-3 text-right px-0">
                  <%= f.label :location, t('view.event.location') %><span class="must_need">*<span>
                </div>
                <div class="col-9 pr-0">
                  <%= f.text_field :location,placeholder:t('view.event.location'),required:"required" %>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-3 text-right px-0">
                  <%= f.label :start_date, t('view.event.start_date') %><span class="must_need">*<span>
                </div>
                <div class="col-9 pr-0">
                  <% if action_name == "new" %>
                    <%= f.date_field :start_date,value:Time.now.strftime("%Y-%m-%d"), class:"calender" %>
                  <% else %>
                    <%= f.date_field :start_date, class:"calender" %>
                  <% end %>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-3 text-right px-0">
                  <%= f.label :end_date, t('view.event.end_date') %><span class="must_need">*<span>
                </div>
                <div class="col-9 pr-0">
                  <% if action_name == "new" %>
                    <%= f.date_field :end_date ,value:Time.now.since(7.days).strftime("%Y-%m-%d"),class:"calender" %>
                  <% else %>
                    <%= f.date_field :end_date, class:"calender" %>
                  <% end %>
                </div>
              </div>
              <div class="row mb-1">
                <div class="col-3 text-right px-0">
                  <%= f.label :official_page, t('view.event.official_page') %>
                </div>
                <div class="col-9 pr-0">
                  <%= f.url_field :official_page, placeholder:t('view.event.official_page') %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4 p-0 m-0">
            <div class="field">
              <%= f.label :image, t('view.event.image'), for:"event_post_image" %><br />
              <label>
                <div class="event-image-area">
                  <%= f.file_field :image , id:"event-post-image" %>
                    <div class="choice-box">
                      ＋
                    </div>
                    <div class="current-image">
                      <% if event.image.present? %>
                        <%= image_tag event.image.url, class:"event-image" %>
                      <% end %>
                    </div>
                </div>
              </label>
            </div>
          </div>
        </div>

        <div class="row mb-1">
          <div class="col-2 text-nowrap text-right px-0">
            <%= f.label :description, t('view.event.description') %><span class="must_need">*<span>
          </div>
          <div class="col-10 pr-0">
            <%= f.text_area :description,placeholder:"イベントの詳しい内容",required:"required" ,class:"description-form"%>
          </div>
        </div>

        <div class="row mb-1">
          <div class="col-2 text-right px-0">
              <label><%= t('view.category') %></label><span class="must_need">*</span><br>
              <span class="note">(※複数可)</span>
          </div>
          <div class="col-10 category-input">
            <% Category.all.each do |category| %>
             <%= f.check_box :category_ids, { multiple: true }, category[:id], nil %>
             <%= f.label :category_ids, category.name, value: category[:id] %>
            <% end %>
          </div>
        </div>
        <div class="text-center my-3">
          <%= f.hidden_field :latitude , id:"latitude" %>
          <%= f.hidden_field :longitude , id:"longitude" %>
          <%= f.submit t('view.post'),class:"submit-btn px-5" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
<script>
  $(function(){
    $('#event-post-image').change(function(){
      console.log('change');
      $('.event-image').remove();
      var file = $(this).prop('files')[0];
      if(!file.type.match('image.*')){
        return;
      }
      var fileReader = new FileReader();
      fileReader.onloadend = function() {
        $('.current-image').html('<img src="' + fileReader.result + '" style="width:150px; height:150px; object-fit:cover;"/>');
        $('.choice-box').css('opacity','0');
      }
      fileReader.readAsDataURL(file);
    });
  });
</script>
<% if action_name == 'edit' %>
  <%= javascript_include_tag 'events_form' %>
<% end %>
