<div class="search_form">
  <%= search_form_for(@q, url:search_events_path) do |f| %>
    <%= f.label :start_date_lteq_all, t('view.search_by_date') %>
    <%= f.date_field :start_date_lteq_all %>
    <%= f.hidden_field :end_date_gteq_all %>
    <%= f.radio_button :categories_id_eq, '', checked: true %>
      <%= f.label :categories_id_eq, "指定なし" %>
    <%= f.collection_radio_buttons :categories_id_eq, @categories, :id, :name %>
    <%= f.submit %>
  <% end %>
</div>
