<h1>本日開催中のイベント</h1>

<div class="">
  <%= render 'serch_form' %>
</div>
<!--
<div class="search_form">
  <%= search_form_for(@q, url:search_events_path) do |f| %>
    <%= f.label :start_date,t('view.search_by_date')%>
    <%= f.date_field :start_date_lteq_all %>
    <%= f.hidden_field :end_date_gteq_all %>
    <%= f.submit %>
  <% end %>
</div> -->

<div class="map-wrapper">
  <div id="mapid" style="width:100%; height:500px;"></div>
</div>


<% @events.each do |event| %>
  <div class="">
    <%= event.title %>
    <%= event.location %>
    <%= event.latitude %>
    <%= event.longitude %>
    <%= link_to '詳細', event_path(event) %>
  </div>
<% end %>


<%= javascript_include_tag 'events_index' %>

<% if user_signed_in? %>
  <%= javascript_include_tag 'event_new' %>
<% end %>
