<div id="mask" class="hidden"></div>
<div id="show_event_modal" class="hidden"></div>
<div id="edit_event_modal" class="hidden"></div>
<% if user_signed_in? %>
  <div id="new_event_modal" class="hidden">
  </div>
<% end %>

<div class="map-wrapper p-3">
  <div class="result-message mt-3">
    <% if action_name == 'create' || action_name == 'update' %>
      <%= @event.title %>
    <% else %>
      <% if @day_searched.strftime('%Y%m%d') == Time.now.strftime('%Y%m%d') %>
        <h1>本日開催中の<%= @keyword %>イベント</h1>
      <% else %>
        <h1><%= l @day_searched, format: :date %>に開催中の<%= @keyword %>イベント</h1>
      <% end %>
        <p>マップ上に<%= @events.size %>件のイベントを表示しています。</p>
    <% end %>

  </div>

  <div class="container-fluid my-3">
    <div class="row">
      <div class="col-sm-12 col-md-9 mb-2 space-cols">
        <div id="mapid" class="map-index"></div>
      </div>
      <div class="col-sm-12 col-md-3 mb-2 space-cols">
        <%= render 'serch_form' %>
        <%= render 'hashtags/index' %>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag 'events_index' %>

<% if user_signed_in? %>
  <%= javascript_include_tag 'event_new' %>
<% else %>
  <%= javascript_include_tag 'prelogin' %>
<% end %>
