<div class="">
  <h1>本日開催中のイベント</h1>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="map-wrapper col-sm-9">
      <div id="mapid" class="map-index"></div>
    </div>
    <div class="col-sm-3">
      <%= render 'serch_form' %>
    </div>
  </div>
</div>

<% @events.each do |event| %>
  <div class="">
    <%= event.title %>
    <%= event.location %>
    <%= event.latitude %>
    <%= event.longitude %>
    <%= link_to '詳細', event_path(event) %>
  </div>
<% end %>


<%= javascript_include_tag 'events_index' %>

<% if user_signed_in? %>
  <%= javascript_include_tag 'event_new' %>
<% end %>
