<div class="m-3">
  <% if action_name == 'create' || action_name == 'update' %>
    <%= @event.title %>
  <% else %>
    <% if @day_searched.strftime('%Y%m%d') == Time.now.strftime('%Y%m%d') %>
      <h1>本日開催中の<%= @keyword %>イベント</h1>
    <% else %>
      <h1><%= l @day_searched, format: :date %>に開催中の<%= @keyword %>イベント</h1>
    <% end %>
  <% end %>
</div>

<div class="container-fluid my-3">
  <div class="row">
    <div class="map-wrapper col-sm-9">
      <div id="mapid" class="map-index"></div>
    </div>
    <div class="col-sm-3">
      <%= render 'serch_form' %>
    </div>
  </div>
</div>

<% unless @events == nil %>
  <% @events.each do |event| %>
  <div class="">
    <%= event.title %>
    <%= event.location %>
    <%= event.latitude %>
    <%= event.longitude %>
    <%= link_to '詳細', event_path(event) %>
  </div>
  <% end %>
<% end %>

<div id="mask" class="hidden"></div>
<div id="show_event_modal" class="hidden"></div>
<div id="edit_event_modal" class="hidden"></div>
<% if user_signed_in? %>
  <div id="new_event_modal" class="hidden">
  </div>
<% end %>


<%= javascript_include_tag 'events_index' %>

<% if user_signed_in? %>
  <%= javascript_include_tag 'event_new' %>
<% end %>
