<h1>イベント詳細画面</h1>

<div id="mapid" style="width:400px; height:400px;"></div>

<div class="">
  <div class="">
    <%= @event.title %>
  </div>
  <div class="">
    <%= @event.location %>
  </div>
  <div class="">
    <%= @event.description %>
  </div>
  <div class="">
    <%= @event.official_page %>
  </div>
  <div class="">
    <%= l @event.start_date, format: :date %> ~ <%= l @event.end_date, format: :date %>
  </div>
</div>


<script>
  var mymap = L.map('mapid').setView([<%= @event.latitude %>, <%= @event.longitude %>], 16);

  L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a>',
    maxZoom: 18,
    minZoom: 4,
  }).addTo(mymap);

  var categoryIcon = L.icon({
    iconUrl: "/centermarker.png",
    iconSize:[48,48],
    iconAnchor:[24,48]
  });
  var content = '<%= link_to @event.title, event_path(@event) %>'
  var latlon = [<%= @event.latitude %>, <%= @event.longitude %>]
  var marker = L.marker(latlon, { icon: categoryIcon },);
  marker.addTo(mymap);

</script>
