
<h1><%= @event.title %></h1>
<% if @favorite.present? %>
  <%= link_to favorite_path(@favorite.id), method: :delete ,class:"like" do%>
    <%= image_tag 'like.png' %>
  <% end %>
<% else %>
  <%= link_to favorites_path(event_id: @event.id), method: :post , class:"dislike" do %>
    <%= image_tag 'dislike.png' %>
  <% end %>
<% end %>
<div class="">
  <% @event.categories.each do | category | %>
    <span><%= category.name %></span>
  <% end %>
</div>
<div id="mapid" style="width:400px; height:400px;"></div>
<div class="">
  <% if @event.image.present? %>
    <%= image_tag @event.image.url %>
  <% end %>
</div>

<div class="">
  <div class="">
    <%= @event.location %>
  </div>
  <div class="">
    <%= @event.description %>
  </div>
  <div class="">
    <%= raw Rinku.auto_link(@event.official_page,:all,'target="_blank"') %>
  </div>
  <div class="">
    <%= l @event.start_date, format: :date %> ~ <%= l @event.end_date, format: :date %>
  </div>
</div>

<% if @event.user == current_user %>
  <%= link_to t('view.edit'), edit_event_path(@event) %>
  <%= link_to t('view.destroy'), event_path(@event), method: :delete %>
<% end %>

<%= javascript_include_tag 'event_show' %>
