<!DOCTYPE html>
<html>
  <head>
    <title>NowOnMap</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= include_gon %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="">
        <%= link_to "イベントマップ", events_path %>
        <% if user_signed_in? %>
          <%= link_to 'マイページ', mypage_user_path(current_user.id)  %>
          <%= link_to t('view.log_out'), destroy_user_session_path, method: :delete %>
          <%= link_to "ユーザー情報",edit_user_registration_path %>
        <% else %>
          <%= link_to t('view.sign_in'), new_user_session_path %>
          <%= link_to 'ゲストログイン(一般)', users_guest_sign_in_path, method: :post %>
          <%= link_to 'ゲストログイン(管理者)', users_guest_admin_sign_in_path, method: :post %>
        <% end %>
      </div>
    </header>
    <% if notice  %>
      <p><%= notice %></p>
    <% end %>
    <% if alert %>
      <p><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
