
<div class="container">
  <div class="row align-items-center ">
    <div class="col-auto users-form">
      <div class="text-center">
        <h2><%= t('.sign_up') %></h2>
      </div>
      <div class="flex-area">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
        <div class="center">
          <div class="field mb-1">
            <%= f.label :name %><br />
            <%= f.text_field :name, autofocus: true, autocomplete: "name",required:"require" %>
          </div>
          <div class="field mb-1">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email",required:"require" %>
          </div>

          <div class="field mb-1">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password",required:"require" %>
          </div>

          <div class="field mb-1">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password",required:"require" %>
          </div>
        </div>
        <div class="actions text-center m-3">
          <%= f.submit t('.sign_up'),class:"action-btn" %>
        </div>
        <% end %>

      </div>
      <div class="text-center">
        <p>--------------または--------------</p>
      </div>
      <div class="text-center">
        <% resource_class.omniauth_providers.each do |provider| %>
            <%= link_to t('view.sign_in_with_google', provider: OmniAuth::Utils.camelize(provider)), omniauth_authorize_path(resource_name, provider), id:"google_signin_button",class:"link-btn" %>
        <% end %>
        <%= link_to t("view.sign_in"), new_session_path(resource_name),class:"link-btn" %>
      </div>












    <!-- <%= render "users/shared/links" %> -->


    </div>

  </div>
</div>

<div id="mask" class="hidden"></div>
